---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PageTab from "../components/PageTab.astro";
---

<Layout title="Toontown Calculator">
  <main>
    <h1>zzzzzzzzzzzz</h1>
    <p class="instructions"></p>
 
    <ul role="list" class="link-card-grid">
      <Card href="/skull" title="Skull Finder" body="Description for Link 1" color="#ff6347" />
      <Card href="/link2" title="Link 2" body="Description for Link 2" color="#4682b4" />
      <Card href="/link3" title="Link 3" body="Description for Link 3" color="#32cd32" />
      <Card href="/link4" title="Link 4" body="Description for Link 4" color="#ffa500" />
      <Card href="/link5" title="Link 5" body="Description for Link 5" color="#800080" />
      <Card href="/link6" title="Link 6" body="Description for Link 6" color="#ff4500" />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media (max-width: 768px) {
    .link-card-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
